<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form class="form-horizontal" th:action="@{/usuario/admin/submit}"
		th:object="${user}" th:method="POST">
		<fieldset>

			<!-- Form Name -->
			<legend>Update User Admin</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="username">Username</label>
				<div class="col-md-4">
					<input id="username" name="username" type="text" placeholder=""
						class="form-control input-md" th:field="*{username}" required>

				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 control-label" for="admin">Admin</label>
				<div class="col-md-4">
					<div class="radio">
						<label for="admin-1"> <input type="radio" name="admin"
							id="admin-1" value="1" th:checked="${user.admin}"> True
						</label>
					</div>
					<div class="radio">
						<label for="admin-0"> <input type="radio" name="admin"
							id="admin-0" value="0" th:checked="${!user.admin}"> False
						</label>
					</div>
				</div>
			</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="singlebutton"></label>
				<div class="col-md-4">
					<button id="singlebutton" name="singlebutton"
						class="btn btn-primary">Update</button>
				</div>
			</div>

		</fieldset>
	</form>

</body>
</html>